{{set . "title" "Create Estimate"}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}

  {{template "flash.html" .}}

      <form method="post" action="/estimate" >
        <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />

        <div class="form-group">
          <label>Estimate</label>
          <input class="form-control form-control-lg" type="text" placeholder="The value of coins in my hand" name="title" />
          <small class="form-text text-muted">The value you are planning on measuring.</small>
        </div>



        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control form-control-lg" type="text" placeholder="I grabbed a handful of coins from a jar, and you were briefly shown them." name="description"></textarea>
          <small class="form-text text-muted">The longer form of the estimate. Include judgement guidelines when possible.</small>
        </div>

        <div class="form-group">
          <label>Unit to Measure</label>
          <div class="input-group">
            <input type="text" name="unit" class="form-control" placeholder="USD" >
          </div>

        <small class="form-text text-muted">The type of value we are measuring. (people, apples, USD, hardware)</small>

        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>

      </form>

{{template "footer.html" .}}
