h1 {
  font-family: Roboto;
  font-weight: 100;
}

h2, h3, h4 {
  font-family: Roboto;
  font-weight: 100;
  color: rgb(33, 37, 41);
}

.navbar {
  font-family: Roboto;
}

a:hover {
    color: rgb(33, 37, 41);
}

.jumbotron {
  background-color:#4ba0b5;
  border-radius: 0em;
}

.weak {
  color: white;
}

.actual{
  background-color: #d4edda;
}

ul {
  list-style-type: none;
}

.table {
  font-family: "Roboto";
}

td {
  font-weight: 300;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: fixed;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #e43;
}

.item-header {
  padding: .25rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.item-footer {
  padding: .25rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}
.item-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
      padding-top: .75rem;
      padding-right: 1.25rem;
      padding-bottom: .50rem;
      padding-left: 1.25rem;
  }
}

.lead {
  font-size 1.5rem;
}

.longdescription {
  font-weight: 300;
}

.markdown>h1 {
  font-size: 20px;
}

.markdown>h2 {
  font-size: 16px;
}

.markdown>h3 {
  font-size: 12px;
}

.markdown>blockquote {
  border-left: 3px solid #ddd;
  padding-left: 10px;
}

.markdown>ul {
  list-style-type: disc;
}

.footer {

  
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #2b2b2b;
}
/* animation */
