h1 {
  font-family: Roboto;
  font-weight: 100;
}

h2, h3, h4 {
  font-family: Roboto;
  font-weight: 100;
  color: rgb(33, 37, 41);
}

.navbar {
  font-family: Roboto;
}

a:hover {
    color: rgb(33, 37, 41);
}

.g-signin2 {
  padding-top: 1em;

}

.jumbotron {
  background-color:#4ba0b5;
}

.weak {
  color: white;
}

.actual{
  background-color: #d4edda;
}

ul {
  list-style-type: none;
}

.table {
  font-family: "Roboto";
}

td {
  font-weight: 300;
}


/* animation */
