{{set . "title" "Results"}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}


    <div class="card">
      <div class="card-body">
        <h2>{{.r.Title}}</h2>
        {{.r.Description}}
      </div>
   </div>

   <div class="card">
     <div class="card-body">
         <h3>Total Votes</h3>
         <table class="table">

               {{range .rr}}
           <tr>
             <th>{{.UserAlias}}</th>
                 {{range .Options}}
                   <td>{{.}}</td>
                 {{end}}
           </tr>
               {{end}}
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
      </table>
      <h3>Winning Vote</h3>
      <table class="table">
        {{range $index, $element := .pw}}
          <tr>

              <td>{{index $.r.Options $element.Index}}</td><td>{{$element.Votes}}</td>

          </tr>
        {{end}}
      </table>
    </div>
  </div>





{{template "footer.html" .}}
