{{template "header.html" .}}
<script>

</script>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <svg width="33px" height="35px" viewBox="449 250 33 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <rect id="Rectangle" stroke="none" fill="#619EB2" fill-rule="evenodd" x="449" y="253" width="30" height="30" rx="9"></rect>
          <text id="e6e" stroke="none" fill="none" font-family="GillSans-Light, Gill Sans" font-size="18" font-weight="300" letter-spacing="-0.833333313">
              <tspan x="452" y="273" fill="#FEFFFF">e6e</tspan>
          </text>
      </svg>
    </a>

    <!-- <a href="/">e6e</a> -->
  </nav>
</div>

  <header class="jumbotron">
    <div class="container">
    <h1 class="display-3 text-center">Measure your intangible data.</h1>
    <hr />
    <h3 class="text-center">Build consensus in a risk assessment, sales forecast, or any critical decision. </h3>
    <div class="text-center">
      <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModal" style="margin-top:3em;">
        Sign in
      </button>
      </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
          </div>
          <div class="modal-footer" id="loginmodalbox">
            <a href="/list" id="sign-in" class="disabled btn btn-secondary">Sign into Google to continue</a>
          </div>
        </div>
      </div>
    </div>

  </header>

  {{template "flash.html" .}}

<div class="container">
  <div class="text-center">
    <h1 class="display-5">What do I use it for?</h1>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-sm">
      <div class="card border-0">

        <div class="card-body">
          <h5 class="card-title text-center">
             Consensus Building
          </h5>
          <p>Ensure that all points of view are represented in decision making.</p>

        </div>

      </div>
    </div>
    <div class="col-sm">
      <div class="card border-0">

        <div class="card-body">
          <h5 class="card-title text-center border-">
             Calibration
          </h5>
          <p>Fine tuned forecasting over time with trackable forecast performance.</p>
        </div>

      </div>
    </div>
    <div class="col-sm">
      <div class="card border-0">

        <div class="card-body">
          <h5 class="card-title text-center">
             Quantification
          </h5>
          <p>Build, improve, and report on intangible subject matters with quantifiable techniques.</p>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="text-center my-4">
    <h1 class="display-5">How do I use it?</h1>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header text-center">
          <i class="fas fa-dice"></i> Scenarios
        </div>
        <div class="card-body">

          <p>What is the probability that an event will happen in the future?</p>
          <p>Send a <strong>scenario</strong> link to a group and estimate those likelihoods.</p>
          </div>

      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header text-center">
          <i class="fas fa-calculator"></i> Estimates
        </div>
        <div class="card-body">

          <p>What is the value of something that is difficult to measure?</p>
          <p>Send an <strong>estimate</strong> link to a group and estimate that value.</p>
        </div>

      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header text-center">
          <i class="fas fa-list-ol"></i> Ranks
        </div>
        <div class="card-body">

          <p>How should we prioritize a list of many options?</p>
          <p>Send a <strong>rank</strong> link to a group to prioritize these options based on preference.</p>
        </div>

      </div>
    </div>

  </div>
</div>
