{{set . "title" "Your Questions"}}
{{set . "description" "You are the moderator for these questions."}}
{{set . "longdescription" "These are only visible to others if you share their link."}}
{{set . "help" true}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}
<script>

function addOption(){

  $("#forecast-form").append("<div class=\"input-group remove\"><input type=\"text\" name=\"options[]\" class=\"form-control\" placeholder=\"Enter option here...\"><div class=\"input-group-append\"><span class=\"input-group-text\" id=\"basic-addon1\" onclick=\"removeParent(this)\">Delete</span></div></div>");
}



function removeParent(e){
  $(e).closest('.remove').remove();
}

</script>


  {{template "flash.html" .}}


      {{if .qs}}

      {{else}}
        <div class="card">
          <div class="card-body">
            <h6>No measurements created.</h6>
            <p>Create a measurement on the navigation bar above.</p>
            </div>
        </div>
      {{end}}
      {{range .qs}}

        <div class="card">
          <div class="item-header">
            <small class="text-muted">{{.Type}}</small>
          </div>
          <div class="item-body">
            <a class="question-link" href="/view/{{.URL}}"><h4>{{.Title}}</h4></a>
          </div>
          <div class="item-footer">
            {{if .Date}}
              <small class="text-muted">Created on {{.Date}}</small>
            {{end}}
          </div>
        </div>
      <br />
      {{end}}




    {{if .empty }}

    {{end}}

    <!-- "Learn More" modal -->
    <div class="modal fade" id="openHelp" tabindex="-1" role="dialog" aria-labelledby="openHelpLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="openHelpLabel">What is this?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{template "help/questions.html"}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



{{template "footer.html" .}}
