{{set . "title" "Your Measurements"}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}
<script>

function addOption(){

  $("#forecast-form").append("<div class=\"input-group remove\"><input type=\"text\" name=\"options[]\" class=\"form-control\" placeholder=\"Enter option here...\"><div class=\"input-group-append\"><span class=\"input-group-text\" id=\"basic-addon1\" onclick=\"removeParent(this)\">Delete</span></div></div>");
}



function removeParent(e){
  $(e).closest('.remove').remove();
}

</script>


  {{template "flash.html" .}}


      {{if .qs}}

      {{else}}
        <div class="card">
          <div class="card-body">
            <h6>No measurements created.</h6>
            <p>Create a measurement on the navigation bar above.</p>
            </div>
        </div>
      {{end}}
      {{range .qs}}

        <div class="card">
          <div class="item-header">
            <small class="text-muted">{{.Type}}</small>
          </div>
          <div class="item-body">
            <a class="question-link" href="/view/{{.URL}}"><h4>{{.Title}}</h4></a>
          </div>
          <div class="item-footer">
            {{if .Date}}
              <small class="text-muted">Created on {{.Date}}</small>
            {{end}}
          </div>
        </div>
      <br />
      {{end}}




    {{if .empty }}

    {{end}}




{{template "footer.html" .}}
