{{set . "title" "Estimate"}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}
{{template "flash.html" .}}
<script>
  function del(eid){
    $.ajax({
    url: '/delete/estimate',
    type: 'post',
    data: {
        eid: eid
    },
    headers: {
        "X-CSRF-Token": {{ .csrf_token }},   //If your header name has spaces or any other char not appropriate
    },
    dataType: 'json',
    success: function (data) {
        console.info(data);
    }
  });
    window.location.replace("/list")
  }
</script>
{{ if .e.Concluded }}
<div class="alert alert-success">
	This estimate has concluded with an actual value of <strong>{{.e.Actual}}</strong> and a Brier score of <strong>{{.e.BrierScore}}</strong>.
</div>
{{ end }}


{{template "titleCard.html" .e}}

  <div class="card mb-3">
      <div class="card-body">
        <form action="/range" method="post">
          <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />

          <div class="form-group">

            {{ if .e.Concluded}}
            {{else}}
              <h5 class="mb-3">Enter Range</h5>
            {{end}}
              <div class="row ">
                <div class="input-group mb-3 col-2">
                  <input name="minimum" value="{{.e.AvgMinimum}}" type="text" class="form-control odds" {{if $.e.Concluded}}disabled{{end}}  aria-label="Minumum Value">
                  <div class="input-group-append">
                    <span class="input-group-text">Min</span>
                  </div>
                </div>

                <div class="input-group mb-3 col-2">
                  <input name="maximum" value="{{.e.AvgMaximum}}" type="text" class="form-control odds" {{if $.e.Concluded}}disabled{{end}} aria-label="Maximum Value">
                  <div class="input-group-append">
                    <span class="input-group-text">Max</span>
                  </div>
                </div>
                <div class="col-8"></div>
            </div>
            <small class="form-text text-muted">Unit type is <strong>{{.e.Unit}}</strong></small>
            <small class="form-text text-muted">You should believe that the true value falls between the Min and Max, with 90% certainty.</small>


          </div>

          <div class="form-group" role="group" aria-label="...">
            <input type="hidden" name="eid" value="{{.e.Eid}}"/>
            {{ if .e.Concluded}}
            {{else}}
            <button class="btn btn-info btn-sm" type="submit">Submit Forecast</button>
            {{end}}
            <button type="button" class="btn btn-light btn-sm" onclick="window.location='/view/estimate/{{.e.Eid}}/results'">Results</button>
          </div>

        </form>
      </div>
    </div>

    {{ if eq .u .e.Owner }}
      <div class="card">
          <div class="card-body">
            <h6>Moderator Options</h6>

              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editModal" class="btn btn-info">Edit</button>
              <button type="button" class="btn btn-secondary btn-sm" onclick="del({{.e.Eid}})" class="btn btn-info">Delete</button>
              {{if .e.Concluded}}
              {{else}}
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#concludeModal">Conclude</button>
              {{end}}
          </div>
      </div>
    {{end}}

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit this estimate</h5>
          </div>
          <div class="modal-body">
            <form method="post" action="/view/estimate/{{.e.Eid}}/edit">
              <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />

              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" value="{{.e.Title}}" />
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control">{{.e.Description}} </textarea>
              </div>

              <div class="form-group">
                <label>Unit</label>
                <input type="text" class="form-control" name="unit" value="{{.e.Unit}}" />
              </div>



          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Edit</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Conclude Modal -->
    <div class="modal fade" id="concludeModal" tabindex="-1" role="dialog" aria-labelledby="concludeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Conclude this Estimate</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form method="post" action="/view/estimate/{{.e.Eid}}/conclude">
              <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />
                <div class="form-group">
                  <label>Final Value</label>
                  <input class="form-control" id="resultValue" name="resultValue" type="text"  value="">
                  <small id="emailHelp" class="form-text text-muted">The actual data that occurred in hindsight.</small>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Conclude!</button>
          </div>
          </form>
        </div>
      </div>
    </div>



{{template "footer.html" .}}
