{{set . "title" "Results"}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}

<div class="container">

  <div class="card">
    <div class="card-body">
      <h2>{{.e.Title}}</h2>
      {{.e.Description}}
    </div>
  </div>

  <div class="card">
    <div class="card-body">

        <h3>Estimated Results</h3>
        <table class="table">
          <tr>
            <th>

            </th>
              <th>Minimum</th>
              <th>Maximum</th>

          </tr>
        {{range .er}}
          <tr>
            <th>
              {{.UserAlias}}
            </th>
              <td>{{.Minimum}}</td>
              <td>{{.Maximum}}</td>

          </tr>
        {{end}}

        <tr>
          <th>
            Average
          </th>

          <th>{{.avgmin}}</th>
          <th>{{.avgmax}}</th>

        </tr>
        </table>
      
    </div>
  </div>

</div>

{{template "footer.html" .}}
