{{set . "title" "Train your calibration!"}}
{{set . "description" "<description>"}}
{{set . "longdescription" "<longdescription>"}}
{{set . "help" false}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}
{{template "flash.html" .}}

<form action="/view/calibration/{{.session.Id}}/answers" method="POST">
    <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />
    Here's a list:
    {{$currentQuestionIndex := .currentQuestionIndex}}
    {{range $index, $question := .questions}}
        {{$index = add $index 1}} {{/* for 1-indexing the questions */}}
        <div class="card">
            {{add $index $currentQuestionIndex}}. {{$question.Description}}
            <div>
                Answer:
                <label>
                    <input type="radio" name="calibration-answer-{{$question.Id}}" value="true" checked></input>
                    True
                </label>
                <label>
                    <input type="radio" name="calibration-answer-{{$question.Id}}" value="false"></input>
                    False
                </label>

                Confidence:
                <select name="calibration-confidence-{{$question.Id}}">
                    <option value="0.5">0.50</option>
                    <option value="0.6">0.60</option>
                    <option value="0.7">0.70</option>
                    <option value="0.8">0.80</option>
                    <option value="0.9">0.90</option>
                    <option value="1.0">1.00</option>
                </select>
            </div>
        </div>
        <br />
    {{end}}
    (done with list)
    <button type="submit">Submit</button>
</form>


{{template "footer.html" .}}

</body>
</html>
