{{set . "title" "Train your calibration!"}}
{{set . "description" "<description>"}}
{{set . "longdescription" "<longdescription>"}}
{{set . "help" false}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}

<script src="/public/js/d3/d3.min.js"></script>

<script>
    function getPageData () {
        return JSON.parse({{ .pageData }})
    }
</script>

{{template "flash.html" .}}

<div class="card">
    <div class="item-header">Results</div>
    <div class="item-body">
        <div id="score-info">
            <h3>Calibration Score</h3>
            Mean confidence: <b>{{sprintf "%2.2f%%" .percentMeanConfidence}}</b><br>
            Actual percent correct: <b>{{sprintf "%2.2f%%" .percentFractionCorrect}}</b><br>
            Mean confidence on correct answers: <b>{{sprintf "%2.2f%%" .percentMeanConfidenceOnCorrect}}</b><br>
            Mean confidence on incorrect answers: <b>{{sprintf "%2.2f%%" .percentMeanConfidenceOnIncorrect}}</b><br>
            <hr>
            <h2>Quiz Score</h2>
            {{.totalCorrect}} correct out of {{.numQuestions}} answered<br>
            {{.totalLowCorrect}} correct out of {{.totalLowAnswered}} answered with low (50% or 60%) confidence
            (<b>{{sprintf "%2.2f%%" .percentLowCorrect}}</b>)<br>
            {{.totalMedCorrect}} correct out of {{.totalMedAnswered}} answered with medium (70% or 80%) confidence
            (<b>{{sprintf "%2.2f%%" .percentMedCorrect}}</b>)<br>
            {{.totalHighCorrect}} correct out of {{.totalHighAnswered}} answered with high (90% or 100%) confidence
            (<b>{{sprintf "%2.2f%%" .percentHighCorrect}}</b>)<br>
        </div>
        <hr>
        <div id="confidence-graph">
            <h2>Calibration Graph</h2>
        </div>
    </div>
</div>

<script>
    {{template "Calibration/Review.js"}}
</script>

{{template "footer.html" .}}

</body>
</html>
