{{set . "title" "Scenario"}}
{{set . "description" "An scenario helps understand the likelihood of future outcomes."}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}
{{template "flash.html" .}}
<script>

$(document).ready(function(){
    function handleForecastChange() {
      var total = 0;

      console.log( "Handler for .change() called." );
      var arr = $( " .odds " ).serializeArray();

      for (var i = 0, len = arr.length; i < len; i++) {
        console.log(arr[i].value);
        total += parseInt(arr[i].value, 10) || 0;
      }
      $("#total").val(total);
    }

    $("input").change(handleForecastChange);
    handleForecastChange();
});
</script>

{{ if .f.Concluded }}
<div class="alert alert-success">
	This scenario has concluded with a Brier score of <strong>{{.f.BrierScore}}</strong>. Final forecast is shown, and actual outcome is highlighted.
</div>
{{ end }}

{{template "titleCard.html" .f}}

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit this scenario</h5>
        </div>
        <div class="modal-body">
          <form method="post" action="/view/scenario/{{.f.Question.Id}}/edit">
            <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />

            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" name="title" value="{{.f.Title}}" />
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea name="description" class="form-control">{{.f.Description}} </textarea>
            </div>

            <div class="form-group">
              <label>Options</label>
              {{range $index, $option := .f.Options}}

                <input type="text" class="form-control" name="options[{{$index}}]" value="{{$option}}" />

              {{end}}
            </div>



        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
        </form>
      </div>
    </div>
  </div>



  <!-- Conclude Modal -->
  <div class="modal fade" id="concludeModal" tabindex="-1" role="dialog" aria-labelledby="concludeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Conclude this scenario</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method="post" action="/view/scenario/{{.f.Question.Id}}/conclude">
            <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />

              {{range $index, $option := .f.Options}}
              <div class="form-check">
                <input class="form-check-input" name="resultIndex" type="radio"  value="{{$index}}">
                <label class="form-check-label">
                  {{$option}}
                </label>
              </div>
              {{end}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Conclude!</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card mb-3">
      <div class="card-header">
        <small class="text-muted">Enter your estimated percentage likelihood for each outcome. </small>
      </div>
      <div class="card-body">

    <form action="/forecast" method="post">
      <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />
      <div class="form-group">

        {{range $index, $value := .f.Options}}

        <div class="row">
          <div class="col-2 input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text">{{indexToCharacter $index }}</span>
            </div>
            <input name="value[]" value="{{if $.myForecast.Forecasts}}{{index $.myForecast.Forecasts $index}}{{end}}" type="text" class="form-control odds" {{if $.f.Results}}disabled{{end}} aria-label="Percentage of possiblity">
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
          </div>

          <div class="col-10">
              <li class="list-group-item {{if $.f.Concluded}}{{if eq $.f.ResultIndex $index}}actual{{end}}{{end}}">{{$value}}</li>
          </div>

          <div class="col-2">
          </div>

        </div>
        {{end}}

        <div class="row">
            <div class="col-2 input-group">

              <input id="total" type="text" class="form-control" aria-label="Percentage of possiblity" readonly>
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
            </div>
            <div class="col-10">
                <li class="list-group-item">Total (Must equal 100)</li>
            </div>
          </div>
      </div>

      {{ if .f.Concluded}}
      {{else}}
      <div class="form-group" role="group" aria-label="...">
        <input type="hidden" name="sid" value="{{.f.Question.Id}}"/>
        <button class="btn btn-info btn-sm" type="submit">Submit Forecast</button>
        <button type="button" class="btn btn-light btn-sm" onclick="window.location='/view/scenario/{{.f.Question.Id}}/results'">Results</button>
      </div>
      {{end}}
    </form>
  </div>
</div>

    {{ if .f.Records }}

      {{template "records.html" .f}}

    {{end}}

    {{ if eq .u .f.Question.OwnerID }}
      <div class="card">
        <div class="card-header">
          Moderator Options
        </div>
          <div class="card-body">
            <small class="form-text text-muted">Keep a record on this Scenario.</small>
              <form name="recordForm" action="/view/scenario/{{.f.Question.Id}}/record" method="post">
                <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />
                <button class="btn btn-light btn-sm" class="btn btn-info">Record</button>
                <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#concludeModal">Conclude</button>
              </form>
              <small class="form-text text-muted">Admin this Scenario.</small>
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editModal" class="btn btn-info">Edit</button>

              {{ template "deleteButton.html" .f.URL }}
              {{if .f.Concluded}}
              {{else}}

              {{end}}
          </div>
      </div>
    {{end}}



{{template "footer.html" .}}
