<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="{{.gc}}">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69938927-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-69938927-2');
    </script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;
        var signInButton = $("#sign-in");

        signInButton.addClass("disabled");
        signInButton.text("Signing in...")
        $.ajax({
          url: "/auth",
          data: {
            googleIdToken: id_token
          },
          method: "POST",
        }).done(function(data) {
          console.log('Signed in as: ', data);
          if (window.location.pathname == "/") {
            console.log("home")
            signInButton.removeClass("disabled");
            signInButton.text("Go!")
          }
        });
      }

      function onSignOut() {
        var signOutButton = $("#sign-out");
        signOutButton.addClass("disabled");
        signOutButton.text("Signing out...");

        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('Google User signed out.');
          $.ajax({
            url: "/auth",
            type: 'DELETE'
          }).done(function() {
            console.log('User session signed out.');
            window.location = '/';
          });
        });
      }

      $( document ).ready(function() {
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
          if(options.type !== "GET" && !options.crossDomain) {
            jqXHR.setRequestHeader('X-CSRF-Token', {{ .csrf_token }});
          }
        });
        $("#sign-out").click(onSignOut);
      });
    </script>
  </head>
  <body>
    <div class="corner-ribbon">🚧 Alpha 🚧</div>
  <div class="container">
    <!-- this div terminates in footer -->
