
  <div class ="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-dice"></i> Scenarios
        </div>
        <div class="card-body">

          <p>What is the probability that an event will happen in the future?</p>
          <p>Send a <strong>scenario</strong> link to a group and estimate those likelihoods.</p>
          </div>
        <div class="card-footer">
          <button type="button" class="btn btn-info btn-md" onclick="location.href='/scenario';">Create Scenario</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-calculator"></i> Estimates
        </div>
        <div class="card-body">

          <p>What is the value of something you can't measure?</p>
          <p>Send an <strong>estimate</strong> link to a group and estimate that value.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-info btn-md" onclick="location.href='/estimate';">Create Estimate</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-list-ol"></i> Ranks
        </div>
        <div class="card-body">

          <p>How should we prioritize a list of many options?</p>
          <p>Send a <strong>rank</strong> link to a group to prioritize these options based on preference.</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-info btn-md" onclick="location.href='/rank';">Create Rank</button>
        </div>
      </div>
    </div>
  </div>
