{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">

      <h1>Current Scenarios</h1>

  </div>
</header>

<div class="container">

  {{template "flash.html" .}}

    <div class="list-group">
      {{range .f}}
      <div class="list-group-item">
        <a href="/view/{{.Sid}}">
          <h4 class="list-group-item-heading">{{.Title}}</h4>
        </a>
          <p class="list-group-item-text">{{.Description}}</p>
        </a>
      </div>
      {{end}}
    </div>


</div>

{{template "footer.html" .}}
