{{set . "title" "Current Scenarios"}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}



  {{template "flash.html" .}}

    <div class="list-group">
      {{range .f}}
      <div class="list-group-item">
        <a href="/view/{{.Sid}}">
          <h4 class="list-group-item-heading">{{.Title}}</h4>
        </a>
          <p class="list-group-item-text">{{.Description}}</p>
        </a>
      </div>
      {{end}}
    </div>




{{template "footer.html" .}}
