{{set . "title" "Notes on Alpha e6e"}}
{{template "header.html" .}}
{{template "navbar.html" .}}
{{template "jumbotron.html" .}}

<h1>Hello!</h1>
This collaborative estimation tool is under heavy development. While it is in alpha:

<br />
<br />

<ul>
<li>It is free! (*)</li>
<li>It is buggy!</li>
<li>It is changing quickly!</li>
<li>It has no guarantees about security, privacy, uptime.</li>
</ul>

(*) Send feedback to magoo, it is highly valuable at the moment, and that makes it worth it!



{{template "footer.html" .}}
